@tailwind base;

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.otf.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Semibold.otf.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@tailwind components;
@tailwind utilities;


/* Color palattes
blue:
    "050": #EBF8FF,
    "100": #D1EEFC,
    "200": #A7D8F0,
    "300": #7CC1E4,
    "400": #55AAD4,
    "500": #3994C1,
    "600": #2D83AE,
    "700": #1D6F98,
    "800": #166086,
    "900": #0B4F71,

gray:
    "050": "#FCFCFA",
    "100": "#E8E6E1",
    "200": "#D3CEC4",
    "300": "#B8B2A7",
    "400": "#A39E93",
    "500": "#857F72",
    "600": "#625D52",
    "700": "#504A40",
    "800": "#423D33",
    "900": "#27241D",

red:
    "100": "#FFF5F5",
    "200": "#FED7D7",
    "300": "#FEB2B2",
    "400": "#FC8181",
    "500": "#F56565",
    "600": "#E53E3E",
    "700": "#C53030",
    "800": "#9B2C2C",
    "900": "#742A2A"
*/

/* Theme colors */
.light-mode {
    --fg-primary: #27241D;
    --fg-default: #423D33;
    --fg-secondary: #625D62;
    --fg-ternary: #A39E93;

    --bg-primary: #FCFCFA;
    --bg-default: #E8E6E1;
    --bg-secondary: #D3CEC4;
    --bg-ternary: #B8B2A7;

    --error-primary: #742A2A;
    --error-default: #C53030;
    --error-secondary: #F56565;
    --error-ternary: #FEB2B2;

    --brand-primary: #166086;
    --brand-default: #2D83AE;
    --brand-secondary: #55AAD4;
    --brand-ternary: #A7D8F0;
}

.dark-mode {
    --fg-primary: #FCFCFA;
    --fg-default: #E8E6E1;
    --fg-secondary: #D3CEC4;
    --fg-ternary: #B8B2A7;

    --bg-primary: #27241D;
    --bg-default: #423D33;
    --bg-secondary: #625D62;
    --bg-ternary: #A39E93;

    --error-primary: #FED7D7;
    --error-default: #FC8181;
    --error-secondary: #E53E3E;
    --error-ternary: #9B2C2C;

    --brand-primary: #D1EEFC;
    --brand-default: #7CC1E4;
    --brand-secondary: #3994C1;
    --brand-ternary: #1D6F98;
}

/* Responsive one column width */
.responsive-width {
    @apply w-5/6 max-w-3xl;
}

/* Header and Footer */
nav a {
    @apply border-0;
}

nav a:hover {
    @apply text-brand-primary;
}

/* Body */
a {
    @apply border-b border-background-secondary;
}

a:hover {
    @apply text-brand border-brand-ternary;
}

/* Icons */
.primary {
    fill: var(--brand-secondary);
}
.secondary {
    fill: var(--brand-default);
}

/* Typography */
h1 {
    @apply font-sans text-3xl font-semibold tracking-tight text-foreground-primary;
}

h2 {
    @apply font-sans text-2xl text-foreground-primary mt-12;
}

h3 {
    @apply font-sans text-lg text-foreground-primary;
}

h4 {
    @apply font-sans tracking-wide uppercase text-foreground-secondary;
}

p {
    @apply font-sans leading-7 text-foreground mt-8;
}

blockquote {
    @apply font-sans leading-8 text-foreground;
}

/* Charts */
.chart {
    @apply text-foreground-secondary;
}
.chart > .axis {
    @apply font-sans text-sm;
}
.chart > .axis > .label {
    @apply font-sans text-lg;
}
