@tailwind base;

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Regular.otf.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Semibold.otf.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Bold.otf.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-Black.otf.woff2");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-It.otf.woff2");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-SemiboldIt.otf.woff2");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-BoldIt.otf.woff2");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Source Serif Pro";
    src: url("../fonts/SourceSerifPro-BlackIt.otf.woff2");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Regular.otf.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Semibold.otf.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Bold.otf.woff2");
    font-weight: 700;
    font-style: normal;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-Black.otf.woff2");
    font-weight: 900;
    font-style: normal;
    font-display: fallback;
}

@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-It.otf.woff2");
    font-weight: 400;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-SemiboldIt.otf.woff2");
    font-weight: 600;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-BoldIt.otf.woff2");
    font-weight: 700;
    font-style: italic;
    font-display: fallback;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/SourceSansPro-BlackIt.otf.woff2");
    font-weight: 900;
    font-style: italic;
    font-display: fallback;
}

@tailwind components;
@tailwind utilities;

/* Theme colors */
.light-mode {
    --fg-primary: hsl(272, 27%, 5%);
    --fg-default: hsl(272, 10%, 24%);
    --fg-secondary: hsl(272, 8%, 60%);

    --bg-default: hsl(272, 3%, 98%);

    --brand-primary: #166086;
    --brand-default: hsl(272, 96%, 50%);
    --brand-secondary: hsl(272, 56%, 72%);

    --gradient: linear-gradient(to right, hsl(209, 90%, 49%), hsl(260, 90%, 50%), hsl(276, 83%, 63%));
}

.dark-mode {
    --fg-primary: hsl(195, 5%, 97%);
    --fg-default: hsl(195, 7%, 70%);
    --fg-secondary: hsl(195, 10%, 46%);

    --bg-default: hsl(195, 5%, 7%);

    --error-primary: #FED7D7;
    --error-default: #FC8181;
    --error-secondary: #E53E3E;
    --error-ternary: #9B2C2C;

    --brand-primary: hsl(195, 74%, 68%);
    --brand-default: hsl(195, 88%, 67%);
    --brand-secondary: hsl(195, 74%, 42%);

    --gradient: linear-gradient(to right, hsl(193, 94%, 68%), hsl(233, 100%, 85%), hsl(292, 89%, 79%));
}

/* Gradients */
.gradient-bar {
    background-image: var(--gradient);
}

.logo:hover {
    background-image: var(--gradient);
    @apply text-background;
}

.pillbox {
    @apply border-0 rounded-lg cursor-pointer;
}
.pillbox:hover {
    background-image: var(--gradient);
    @apply text-background;
}

.text-gradient {
    background: var(--gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* Responsive one column width */
.responsive-width {
    @apply w-5/6 max-w-3xl;
}

/* Header and Footer */
/* nav a {
    @apply border-0;
}

nav a:hover {
    @apply text-brand-primary;
} */

/* header a {
    @apply border-b border-foreground-secondary;
} */

header a:hover {
    @apply text-brand;
}

footer a:hover {
    @apply text-brand;
}

p a {
    @apply border-b border-foreground-secondary;
}

p a:hover {
    @apply text-brand border-brand;
}

/* Typography */
h1 {
    @apply font-sans text-2xl font-black leading-none tracking-tighter text-gradient;
     /* sm:text-3xl md:text-4xl  */
}
h2 {
    @apply pt-2 mt-20 font-sans text-xl font-semibold leading-snug tracking-tight border-t-2 text-foreground border-brand;
}
h4 {
    @apply font-serif italic tracking-tight text-foreground;
      /* font-serif italic sm:text-lg md:text-xl text-foreground */
}
article {
    @apply font-serif text-foreground;
}
article p {
    @apply mt-8 leading-7;
}


@screen sm {
    h1 {@apply text-3xl;}
    h4 {@apply text-lg;}
}

@screen md {
    h1 {@apply text-4xl;}
    h2 {@apply text-2xl;}
    h4 {@apply text-xl;}
    article p {@apply text-lg;}
}

/* Body */
/* .url a {
    @apply border-0 border-foreground-secondary;
}

.url a:hover {
    @apply text-brand;
}

.url a:hover {
    @apply border-brand;
} */
/* 
    <div className="text-foreground">
    </div>
article h1 {
    @apply font-sans text-3xl font-semibold tracking-tight;
}

article h2 {
    @apply mt-12 font-sans text-2xl text-foreground-primary;
}

article h3 {
    @apply font-sans text-lg text-foreground-primary;
}

article h4 {
    @apply font-sans tracking-wide uppercase text-foreground-secondary;
}

article p {
    @apply mt-8 font-sans leading-7 text-foreground;
}

article blockquote {
    @apply font-sans leading-8 text-foreground;
} */

/* Charts */
.chart {
    @apply text-foreground;
}
.chart > .axis {
    @apply font-sans text-sm;
}
.chart > .axis > .label {
    @apply font-sans text-lg;
}

blockquote.twitter-tweet {
    display: inline-block;
    font-family: "Helvetica Neue", Roboto, "Segoe UI", Calibri, sans-serif;
    font-size: 12px;
    font-weight: bold;
    line-height: 16px;
    border-color: #eee #ddd #bbb;
    border-radius: 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.15);
    margin: 10px 5px;
    padding: 0 16px 16px 16px;
    max-width: 468px;
  }
  
  blockquote.twitter-tweet p {
    font-size: 16px;
    font-weight: normal;
    line-height: 20px;
  }
  
  blockquote.twitter-tweet a {
    color: inherit;
    font-weight: normal;
    text-decoration: none;
    outline: 0 none;
  }
  
  blockquote.twitter-tweet a:hover,
  blockquote.twitter-tweet a:focus {
    text-decoration: underline;
  }