@tailwind base;

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.otf.woff2");
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Semibold.otf.woff2");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@tailwind components;
@tailwind utilities;

/* CSS Grid */
.justify-items-center {
    justify-items: center;
}

/* Responsive width */
.responsive-width {
    @apply w-5/6 max-w-3xl;
}

.footer-link {
    @apply mb-1 border-b border-gray-700;
}

.footer-link:hover {
    @apply text-brand-lighter border-brand-lighter;
}

.header-link {
    @apply border-b-2 border-gray-300;
}

.header-link:hover {
    @apply text-brand border-brand;
}

.header-active {
    @apply border-b-2 text-brand border-brand;
}

.tightbold {
    @apply font-semibold tracking-tight;
}

.lightupper {
    @apply tracking-wide text-gray-500 uppercase;
}

h1 {
    @apply font-sans text-3xl text-gray-900 tightbold;
}

h2 {
    @apply font-sans text-2xl text-gray-900;
}

h3 {
    @apply font-sans text-lg text-gray-900;
}

h4 {
    @apply font-sans lightupper;
}

p {
    @apply font-sans leading-8 text-gray-800;
}

a {
    @apply border-b border-gray-200;
}

a:hover {
    @apply border-brand text-brand;
}

.button {
    @apply p-1 px-2 mr-2 text-sm border-none rounded-lg shadow-lg text-gray-050 bg-brand;
}

.button:hover {
    @apply text-gray-050 bg-brand-lighter;
}

.chart {
    @apply text-gray-700;
}
.chart > .axis {
    @apply font-sans text-sm
}
.chart > .axis > .label {
    @apply font-sans text-lg
}

body.dark-mode {
    @apply bg-brand;
}


@screen dark-mode {
    h1, h2, h3 {
        @apply text-gray-100;
    }
    p {
        @apply text-gray-200;
    }
    a {
        @apply border-b border-gray-700;
    }
    a:hover {
        @apply text-brand-lighter border-brand-lighter;
    }
    .button {
        @apply shadow-none;
    }
    .header-active {
        @apply border-b-2 text-brand-lighter border-brand-lighter;
    }
    .header-link:hover {
        @apply text-brand-lighter border-brand-lighter;
    }
    .chart {
        @apply text-gray-300;
    }
}