@tailwind base;

@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Regular.otf.woff2");
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Source Sans Pro";
    src: url("fonts/SourceSansPro-Semibold.otf.woff2");
    font-weight: 600;
    font-style: normal;
}

@tailwind components;
@tailwind utilities;

/* Responsive width */
.responsive-width {
    @apply w-5/6 max-w-3xl;
}

.body-bg {
    background-image: linear-gradient(#FCFCFA, #FFFFFF);
}


.footer-link {
    @apply border-b mb-1 border-warm-grey-700;
}

.footer-link:hover {
    @apply text-brand-light border-brand-light;
}

.header-link {
    @apply border-b-2 border-warm-grey-300;
}

.header-link:hover {
    @apply text-brand border-brand;
}

.header-active {
    @apply text-brand border-b-2 border-brand;
}

.tightbold {
    @apply tracking-tight font-semibold;
}

.lightupper {
    @apply tracking-wide uppercase text-warm-grey-500;
}

h1 {
    @apply font-sans text-3xl tightbold text-warm-grey-900;
}

h2 {
    @apply font-sans text-2xl text-warm-grey-900 mt-6;
}

h3 {
    @apply font-sans text-lg text-warm-grey-900 italic mt-4;
}

h4 {
    @apply font-sans lightupper;
}

p {
    @apply font-sans text-warm-grey-800 leading-8;
}

a {
    @apply border-b border-warm-grey-200;
}

a:hover {
    @apply border-brand text-brand;
}

.button {
    @apply text-sm mr-2 shadow-sm rounded-lg bg-brand text-warm-grey-050 p-1 px-2;
}

.button:hover {
    @apply bg-brand-light text-warm-grey-050;
}